In [10]:
import pandas as pd
import numpy as np
import yaml 
import csv
import sklearn
from sklearn.preprocessing import LabelEncoder
import os
from datetime import datetime
from sklearn.impute import SimpleImputer
from collections import defaultdict
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
import copy

# FR : team a vs team b (who will win)

## yaml to csv set

In [88]:
data = yaml.safe_load(open('./datasets/PKvsNZ_T20/_315.yml'))
len(data['innings'])

2

In [95]:
directory = './datasets/'
outcome_of_matches = []
count=0
for j,sets in enumerate(os.listdir(directory)):
    if sets=='.DS_Store':
        continue
    current_directory =directory+sets+"/"
   
    for i,f in enumerate(os.listdir(current_directory)):
        print (current_directory+f)
        data = yaml.safe_load(open(current_directory+f))
        a=0
        score_a=0
        b=1
        score_b=0
        if len(data['innings']) != 2:
            continue
        if data['info']['teams'][0]==data['innings'][1]['2nd innings']['team']:
            a= 1
            b=0

        for d in data['innings'][a]['1st innings' if a==0 else '2nd innings']['deliveries']:
            score_a+=d[float(d.keys()[0])]['runs']['total']
        for d in data['innings'][b]['1st innings' if b==0 else '2nd innings']['deliveries']:
            score_b+=d[float(d.keys()[0])]['runs']['total']
    
        
        data=data['info']
        count+=1
        outcome_of_matches.append({
            'id': count,
            'city': data.get('city'),
            'month': ( datetime.strptime(data.get('dates')[0], "%Y-%m-%d") if type(data.get('dates')[0]) == str else data.get('dates')[0]).strftime("%B"),
            'match_type': data['match_type'],
            'team_a': data['teams'][0],
            'team_b': data['teams'][1],
            'toss_won': data['toss']['winner'],
            'toss_decision': data['toss']['decision'],
            'venue': data['venue'],
            'score_a':score_a,
            'score_b':score_b,
            'winner': data['outcome']['winner'] if 'winner' in data['outcome'] else 'draw'
        })

./datasets/PKvsWI_ODI/_403.yml
./datasets/PKvsWI_ODI/_48.yml
./datasets/PKvsWI_ODI/_200.yml
./datasets/PKvsWI_ODI/_71.yml
./datasets/PKvsWI_ODI/_349.yml
./datasets/PKvsWI_ODI/_388.yml
./datasets/PKvsWI_ODI/_66.yml
./datasets/PKvsWI_ODI/_271.yml
./datasets/PKvsWI_ODI/_259.yml
./datasets/PKvsWI_ODI/_270.yml
./datasets/PKvsWI_ODI/_312.yml
./datasets/PKvsWI_ODI/_288.yml
./datasets/PKvsWI_ODI/_314.yml
./datasets/PKvsWI_ODI/_287.yml
./datasets/PKvsWI_ODI/_286.yml
./datasets/PKvsWI_ODI/_319.yml
./datasets/PKvsWI_ODI/_243.yml
./datasets/PKvsWI_ODI/_269.yml
./datasets/PKvsWI_ODI/_24.yml
./datasets/PKvsWI_ODI/_136.yml
./datasets/PKvsWI_ODI/_446.yml
./datasets/PKvsWI_ODI/_151.yml
./datasets/PKvsWI_ODI/_186.yml
./datasets/PKvsWI_ODI/_80.yml
./datasets/PKvsWI_ODI/_344.yml
./datasets/PKvsWI_ODI/_392.yml
./datasets/PKvsWI_ODI/_369.yml
./datasets/PKvsWI_ODI/_92.yml
./datasets/PKvsWI_ODI/_79.yml
./datasets/PKvsWI_ODI/_208.yml
./datasets/PKvsWI_ODI/_342.yml
./datasets/PKvsNZ_T20/_370.yml
./datasets/PKvsNZ_T20/_228.yml
./datasets/PKvsNZ_T20/_363.yml
./datasets/PKvsNZ_T20/_311.yml
./datasets/PKvsNZ_T20/_264.yml
./datasets/PKvsNZ_T20/_100.yml
./datasets/PKvsNZ_T20/_328.yml
./datasets/PKvsNZ_T20/_7.yml
./datasets/PKvsNZ_T20/_6.yml
./datasets/PKvsNZ_T20/_315.yml
./datasets/PKvsNZ_T20/_324.yml
./datasets/PKvsNZ_T20/_330.yml
./datasets/PKvsNZ_T20/_132.yml
./datasets/PKvsNZ_T20/_245.yml
./datasets/PKvsNZ_T20/_284.yml
./datasets/PKvsNZ_T20/_23.yml
./datasets/PKvsNZ_T20/_291.yml
./datasets/PKvsNZ_T20/_124.yml
./datasets/PKvsNZ_T20/_240.yml
./datasets/PKvsNZ_T20/_122.yml
./datasets/PKvsNZ_T20/_81.yml
./datasets/PKvsNZ_T20/_232.yml
./datasets/PKvsNZ_T20/_185.yml
./datasets/PKvsNZ_T20/_345.yml
./datasets/PKvsNZ_T20/_341.yml
./datasets/PKvsNZ_T20/_342.yml
./datasets/PKvsNZ_T20/_140.yml
./datasets/PKvsENG_T20/_77.yml
./datasets/PKvsENG_T20/_159.yml
./datasets/PKvsENG_T20/_576.yml
./datasets/PKvsENG_T20/_572.yml
./datasets/PKvsENG_T20/_64.yml
./datasets/PKvsENG_T20/_361.yml
./datasets/PKvsENG_T20/_474.yml
./datasets/PKvsENG_T20/_448.yml
./datasets/PKvsENG_T20/_115.yml
./datasets/PKvsENG_T20/_114.yml
./datasets/PKvsENG_T20/_316.yml
./datasets/PKvsENG_T20/_116.yml
./datasets/PKvsENG_T20/_34.yml
./datasets/PKvsENG_T20/_23.yml
./datasets/PKvsENG_T20/_450.yml
./datasets/PKvsENG_T20/_451.yml
./datasets/PKvsENG_T20/_533.yml
./datasets/PKvsENG_T20/_25.yml
./datasets/PKvsENG_T20/_282.yml
./datasets/PKvsENG_T20/_532.yml
./datasets/PKvsENG_T20/_485.yml
./datasets/PKvsENG_T20/_80.yml
./datasets/PKvsENG_T20/_350.yml
./datasets/PKvsENG_T20/_152.yml
./datasets/PKvsENG_T20/_40.yml
./datasets/PKvsENG_T20/_386.yml
./datasets/PKvsENG_T20/_369.yml
./datasets/PKvsENG_T20/_87.yml
./datasets/PKvsENG_T20/_140.yml
./datasets/PKvsENG_T20/_551.yml
./datasets/PKvsENG_T20/_431.yml
./datasets/PKvsNZ_ODI/_366.yml
./datasets/PKvsNZ_ODI/_89.yml
./datasets/PKvsNZ_ODI/_365.yml
./datasets/PKvsNZ_ODI/_198.yml
./datasets/PKvsNZ_ODI/_188.yml
./datasets/PKvsNZ_ODI/_202.yml
./datasets/PKvsNZ_ODI/_258.yml
./datasets/PKvsNZ_ODI/_3.yml
./datasets/PKvsNZ_ODI/_304.yml
./datasets/PKvsNZ_ODI/_312.yml
./datasets/PKvsNZ_ODI/_303.yml
./datasets/PKvsNZ_ODI/_316.yml
./datasets/PKvsNZ_ODI/_7.yml
./datasets/PKvsNZ_ODI/_116.yml
./datasets/PKvsNZ_ODI/_11.yml
./datasets/PKvsNZ_ODI/_329.yml
./datasets/PKvsNZ_ODI/_318.yml
./datasets/PKvsNZ_ODI/_21.yml
./datasets/PKvsNZ_ODI/_319.yml
./datasets/PKvsNZ_ODI/_325.yml
./datasets/PKvsNZ_ODI/_108.yml
./datasets/PKvsNZ_ODI/_337.yml
./datasets/PKvsNZ_ODI/_255.yml
./datasets/PKvsNZ_ODI/_282.yml
./datasets/PKvsNZ_ODI/_24.yml
./datasets/PKvsNZ_ODI/_240.yml
./datasets/PKvsNZ_ODI/_136.yml
./datasets/PKvsNZ_ODI/_95.yml
./datasets/PKvsNZ_ODI/_226.yml
./datasets/PKvsNZ_ODI/_157.yml
./datasets/PKvsNZ_ODI/_180.yml
./datasets/PKvsNZ_ODI/_209.yml
./datasets/PKvsNZ_ODI/_221.yml
./datasets/PKvsNZ_ODI/_79.yml
./datasets/PKvsNZ_ODI/_78.yml
./datasets/PKvsNZ_ODI/_342.yml
./datasets/PKvsNZ_ODI/_140.yml
./datasets/PKvsWI_T20/_164.yml
./datasets/PKvsWI_T20/_398.yml
./datasets/PKvsWI_T20/_416.yml
./datasets/PKvsWI_T20/_188.yml
./datasets/PKvsWI_T20/_349.yml
./datasets/PKvsWI_T20/_2.yml
./datasets/PKvsWI_T20/_15.yml
./datasets/PKvsWI_T20/_272.yml
./datasets/PKvsWI_T20/_10.yml
./datasets/PKvsWI_T20/_442.yml
./datasets/PKvsWI_T20/_31.yml
./datasets/PKvsWI_T20/_353.yml
./datasets/PKvsWI_T20/_435.yml
./datasets/PKvsWI_T20/_54.yml
./datasets/PKvsWI_T20/_379.yml
./datasets/PKvsWI_T20/_423.yml
./datasets/PKvsWI_T20/_180.yml
./datasets/PKvsWI_T20/_140.yml
./datasets/PKvsWI_T20/_236.yml
./datasets/PKvsWI_T20/_357.yml
./datasets/PKvsENG_ODI/_366.yml
./datasets/PKvsENG_ODI/_164.yml
./datasets/PKvsENG_ODI/_348.yml
./datasets/PKvsENG_ODI/_360.yml
./datasets/PKvsENG_ODI/_176.yml
./datasets/PKvsENG_ODI/_59.yml
./datasets/PKvsENG_ODI/_377.yml
./datasets/PKvsENG_ODI/_149.yml
./datasets/PKvsENG_ODI/_72.yml
./datasets/PKvsENG_ODI/_606.yml
./datasets/PKvsENG_ODI/_410.yml
./datasets/PKvsENG_ODI/_305.yml
./datasets/PKvsENG_ODI/_29.yml
./datasets/PKvsENG_ODI/_502.yml
./datasets/PKvsENG_ODI/_273.yml
./datasets/PKvsENG_ODI/_313.yml
./datasets/PKvsENG_ODI/_465.yml
./datasets/PKvsENG_ODI/_511.yml
./datasets/PKvsENG_ODI/_248.yml
./datasets/PKvsENG_ODI/_260.yml
./datasets/PKvsENG_ODI/_480.yml
./datasets/PKvsENG_ODI/_482.yml
./datasets/PKvsENG_ODI/_130.yml
./datasets/PKvsENG_ODI/_332.yml
./datasets/PKvsENG_ODI/_269.yml
./datasets/PKvsENG_ODI/_296.yml
./datasets/PKvsENG_ODI/_334.yml
./datasets/PKvsENG_ODI/_435.yml
./datasets/PKvsENG_ODI/_192.yml
./datasets/PKvsENG_ODI/_391.yml
./datasets/PKvsENG_ODI/_436.yml
./datasets/PKvsENG_ODI/_344.yml
./datasets/PKvsENG_ODI/_422.yml
./datasets/PKvsENG_ODI/_191.yml
./datasets/PKvsENG_ODI/_580.yml
./datasets/PKvsENG_ODI/_82.yml
./datasets/PKvsENG_ODI/_342.yml
./datasets/PKvsENG_ODI/_154.yml
./datasets/PKvsENG_ODI/_222.yml
./datasets/PKvsBAN_T20/_159.yml
./datasets/PKvsBAN_T20/_172.yml
./datasets/PKvsBAN_T20/_67.yml
./datasets/PKvsBAN_T20/_160.yml
./datasets/PKvsBAN_T20/_311.yml
./datasets/PKvsBAN_T20/_259.yml
./datasets/PKvsBAN_T20/_29.yml
./datasets/PKvsBAN_T20/_276.yml
./datasets/PKvsBAN_T20/_248.yml
./datasets/PKvsBAN_T20/_250.yml
./datasets/PKvsBAN_T20/_295.yml
./datasets/PKvsBAN_T20/_257.yml
./datasets/PKvsBAN_T20/_123.yml
./datasets/PKvsBAN_T20/_308.yml
./datasets/PKvsBAN_T20/_145.yml
./datasets/PKvsBAN_T20/_94.yml
./datasets/PKvsBAN_T20/_40.yml
./datasets/PKvsBAN_T20/_53.yml
./datasets/PKvsKEN_T20/_1.yml
./datasets/PKvsIRE_T20/_374.yml
./datasets/PKvsIRE_T20/_29.yml
./datasets/PKvsIRE_T20/_10.yml
./datasets/PKvsIRE_T20/_34.yml
./datasets/PKvsIRE_T20/_341.yml
./datasets/PKvsIRE_T20/_197.yml
./datasets/PKvsSA_ODI/_158.yml
./datasets/PKvsSA_ODI/_62.yml
./datasets/PKvsSA_ODI/_207.yml
./datasets/PKvsSA_ODI/_159.yml
./datasets/PKvsSA_ODI/_173.yml
./datasets/PKvsSA_ODI/_205.yml
./datasets/PKvsSA_ODI/_49.yml
./datasets/PKvsSA_ODI/_210.yml
./datasets/PKvsSA_ODI/_59.yml
./datasets/PKvsSA_ODI/_71.yml
./datasets/PKvsSA_ODI/_215.yml
./datasets/PKvsSA_ODI/_98.yml
./datasets/PKvsSA_ODI/_66.yml
./datasets/PKvsSA_ODI/_72.yml
./datasets/PKvsSA_ODI/_1.yml
./datasets/PKvsSA_ODI/_16.yml
./datasets/PKvsSA_ODI/_105.yml
./datasets/PKvsSA_ODI/_12.yml
./datasets/PKvsSA_ODI/_100.yml
./datasets/PKvsSA_ODI/_10.yml
./datasets/PKvsSA_ODI/_126.yml
./datasets/PKvsSA_ODI/_21.yml
./datasets/PKvsSA_ODI/_127.yml
./datasets/PKvsSA_ODI/_130.yml
./datasets/PKvsSA_ODI/_134.yml
./datasets/PKvsSA_ODI/_120.yml
./datasets/PKvsSA_ODI/_121.yml
./datasets/PKvsSA_ODI/_31.yml
./datasets/PKvsSA_ODI/_24.yml
./datasets/PKvsSA_ODI/_192.yml
./datasets/PKvsSA_ODI/_81.yml
./datasets/PKvsSA_ODI/_178.yml
./datasets/PKvsSA_ODI/_152.yml
./datasets/PKvsSA_ODI/_191.yml
./datasets/PKvsSA_ODI/_218.yml
./datasets/PKvsSA_ODI/_97.yml
./datasets/PKvsSA_ODI/_69.yml
./datasets/PKvsSA_ODI/_96.yml
./datasets/PKvsSA_ODI/_147.yml
./datasets/PKvsSA_ODI/_93.yml
./datasets/PKvsSA_ODI/_142.yml
./datasets/PKvsSA_ODI/_222.yml
./datasets/PKvsSA_ODI/_155.yml
./datasets/PKvsSA_ODI/_141.yml
./datasets/PKvsSCO_T20/_17.yml
./datasets/PKvsSCO_T20/_6.yml
./datasets/PKvsSCO_T20/_9.yml
./datasets/PKvsBAN_ODI/_167.yml
./datasets/PKvsBAN_ODI/_177.yml
./datasets/PKvsBAN_ODI/_67.yml
./datasets/PKvsBAN_ODI/_311.yml
./datasets/PKvsBAN_ODI/_3.yml
./datasets/PKvsBAN_ODI/_104.yml
./datasets/PKvsBAN_ODI/_267.yml

./datasets/PKvsBAN_ODI/_105.yml
./datasets/PKvsBAN_ODI/_277.yml
./datasets/PKvsBAN_ODI/_12.yml
./datasets/PKvsBAN_ODI/_103.yml
./datasets/PKvsBAN_ODI/_255.yml
./datasets/PKvsBAN_ODI/_18.yml
./datasets/PKvsBAN_ODI/_240.yml
./datasets/PKvsBAN_ODI/_308.yml
./datasets/PKvsBAN_ODI/_233.yml
./datasets/PKvsBAN_ODI/_57.yml
./datasets/PKvsBAN_ODI/_185.yml
./datasets/PKvsBAN_ODI/_153.yml
./datasets/PKvsBAN_ODI/_45.yml
./datasets/PKvsBAN_ODI/_181.yml
./datasets/PKvsIRE_ODI/_207.yml
./datasets/PKvsIRE_ODI/_58.yml
./datasets/PKvsIRE_ODI/_388.yml
./datasets/PKvsIRE_ODI/_404.yml
./datasets/PKvsIRE_ODI/_4.yml
./datasets/PKvsIRE_ODI/_287.yml
./datasets/PKvsIRE_ODI/_335.yml
./datasets/PKvsIRE_ODI/_40.yml
./datasets/PKvsKEN_ODI/_7.yml
./datasets/PKvsSA_T20/_89.yml
./datasets/PKvsSA_T20/_88.yml
./datasets/PKvsSA_T20/_58.yml
./datasets/PKvsSA_T20/_65.yml
./datasets/PKvsSA_T20/_163.yml
./datasets/PKvsSA_T20/_113.yml
./datasets/PKvsSA_T20/_17.yml
./datasets/PKvsSA_T20/_129.yml
./datasets/PKvsSA_T20/_114.yml
./datasets/PKvsSA_T20/_126.yml
./datasets/PKvsSA_T20/_34.yml
./datasets/PKvsSA_T20/_23.yml
./datasets/PKvsSA_T20/_130.yml
./datasets/PKvsSA_T20/_31.yml
./datasets/PKvsSA_T20/_24.yml
./datasets/PKvsSA_T20/_179.yml
./datasets/PKvsSA_T20/_43.yml
./datasets/PKvsSA_T20/_56.yml
./datasets/PKvsSA_T20/_153.yml
./datasets/PKvsSA_T20/_157.yml
./datasets/PKvsSA_T20/_51.yml
./datasets/PKvsSA_T20/_154.yml
./datasets/PKvsSA_T20/_84.yml
./datasets/PKvsSA_T20/_169.yml
./datasets/PKvsSCO_ODI/_5.yml
./datasets/PKvsAFG_ODI/_3.yml
./datasets/PKvsAFG_ODI/_13.yml
./datasets/PKvsAFG_ODI/_6.yml
./datasets/PKvsAFG_ODI/_19.yml
./datasets/PKvsSL_T20/_414.yml
./datasets/PKvsSL_T20/_365.yml
./datasets/PKvsSL_T20/_402.yml
./datasets/PKvsSL_T20/_200.yml
./datasets/PKvsSL_T20/_411.yml
./datasets/PKvsSL_T20/_264.yml
./datasets/PKvsSL_T20/_338.yml
./datasets/PKvsSL_T20/_111.yml
./datasets/PKvsSL_T20/_288.yml
./datasets/PKvsSL_T20/_5.yml
./datasets/PKvsSL_T20/_458.yml
./datasets/PKvsSL_T20/_328.yml
./datasets/PKvsSL_T20/_329.yml
./datasets/PKvsSL_T20/_279.yml
./datasets/PKvsSL_T20/_494.yml
./datasets/PKvsSL_T20/_130.yml
./datasets/PKvsSL_T20/_295.yml
./datasets/PKvsSL_T20/_257.yml
./datasets/PKvsSL_T20/_335.yml
./datasets/PKvsSL_T20/_491.yml
./datasets/PKvsSL_T20/_193.yml
./datasets/PKvsSL_T20/_408.yml
./datasets/PKvsSL_T20/_55.yml
./datasets/PKvsSL_T20/_396.yml
./datasets/PKvsSL_T20/_51.yml
./datasets/PKvsSL_T20/_234.yml
./datasets/PKvsSL_T20/_181.yml
./datasets/PKvsSL_T20/_140.yml
./datasets/PKvsAFG_T20/_9.yml
./datasets/PKvsSL_ODI/_212.yml
./datasets/PKvsSL_ODI/_88.yml
./datasets/PKvsSL_ODI/_398.yml
./datasets/PKvsSL_ODI/_429.yml
./datasets/PKvsSL_ODI/_365.yml
./datasets/PKvsSL_ODI/_74.yml
./datasets/PKvsSL_ODI/_166.yml
./datasets/PKvsSL_ODI/_348.yml
./datasets/PKvsSL_ODI/_177.yml
./datasets/PKvsSL_ODI/_375.yml
./datasets/PKvsSL_ODI/_411.yml
./datasets/PKvsSL_ODI/_203.yml
./datasets/PKvsSL_ODI/_107.yml
./datasets/PKvsSL_ODI/_113.yml
./datasets/PKvsSL_ODI/_106.yml
./datasets/PKvsSL_ODI/_462.yml
./datasets/PKvsSL_ODI/_448.yml
./datasets/PKvsSL_ODI/_500.yml
./datasets/PKvsSL_ODI/_16.yml
./datasets/PKvsSL_ODI/_501.yml
./datasets/PKvsSL_ODI/_105.yml
./datasets/PKvsSL_ODI/_507.yml
./datasets/PKvsSL_ODI/_301.yml
./datasets/PKvsSL_ODI/_330.yml
./datasets/PKvsSL_ODI/_278.yml
./datasets/PKvsSL_ODI/_35.yml
./datasets/PKvsSL_ODI/_523.yml
./datasets/PKvsSL_ODI/_331.yml
./datasets/PKvsSL_ODI/_455.yml
./datasets/PKvsSL_ODI/_290.yml
./datasets/PKvsSL_ODI/_285.yml
./datasets/PKvsSL_ODI/_520.yml
./datasets/PKvsSL_ODI/_440.yml
./datasets/PKvsSL_ODI/_454.yml
./datasets/PKvsSL_ODI/_493.yml
./datasets/PKvsSL_ODI/_321.yml
./datasets/PKvsSL_ODI/_533.yml
./datasets/PKvsSL_ODI/_25.yml
./datasets/PKvsSL_ODI/_18.yml
./datasets/PKvsSL_ODI/_136.yml
./datasets/PKvsSL_ODI/_541.yml
./datasets/PKvsSL_ODI/_43.yml
./datasets/PKvsSL_ODI/_226.yml
./datasets/PKvsSL_ODI/_540.yml
./datasets/PKvsSL_ODI/_230.yml
./datasets/PKvsSL_ODI/_54.yml
./datasets/PKvsSL_ODI/_41.yml
./datasets/PKvsSL_ODI/_225.yml
./datasets/PKvsSL_ODI/_184.yml
./datasets/PKvsSL_ODI/_194.yml
./datasets/PKvsSL_ODI/_195.yml
./datasets/PKvsSL_ODI/_340.yml
./datasets/PKvsSL_ODI/_424.yml
./datasets/PKvsSL_ODI/_183.yml
./datasets/PKvsSL_ODI/_91.yml
./datasets/PKvsZMB_ODI/_49.yml
./datasets/PKvsZMB_ODI/_48.yml
./datasets/PKvsZMB_ODI/_2.yml
./datasets/PKvsZMB_ODI/_29.yml
./datasets/PKvsZMB_ODI/_14.yml
./datasets/PKvsZMB_ODI/_28.yml
./datasets/PKvsZMB_ODI/_1.yml
./datasets/PKvsZMB_ODI/_12.yml
./datasets/PKvsZMB_ODI/_7.yml
./datasets/PKvsZMB_ODI/_10.yml
./datasets/PKvsZMB_ODI/_39.yml
./datasets/PKvsZMB_ODI/_11.yml
./datasets/PKvsZMB_ODI/_20.yml
./datasets/PKvsZMB_ODI/_21.yml
./datasets/PKvsZMB_ODI/_37.yml
./datasets/PKvsZMB_ODI/_36.yml
./datasets/PKvsZMB_ODI/_26.yml
./datasets/PKvsZMB_ODI/_24.yml
./datasets/PKvsZMB_ODI/_30.yml
./datasets/PKvsZMB_ODI/_43.yml
./datasets/PKvsZMB_ODI/_55.yml
./datasets/PKvsZMB_ODI/_41.yml
./datasets/PKvsZMB_ODI/_45.yml
./datasets/PKvsZMB_ODI/_44.yml
./datasets/PKvsZMB_ODI/_52.yml
./datasets/PKvsAUS_ODI/_207.yml
./datasets/PKvsAUS_ODI/_211.yml
./datasets/PKvsAUS_ODI/_74.yml
./datasets/PKvsAUS_ODI/_48.yml
./datasets/PKvsAUS_ODI/_199.yml
./datasets/PKvsAUS_ODI/_162.yml
./datasets/PKvsAUS_ODI/_189.yml
./datasets/PKvsAUS_ODI/_177.yml
./datasets/PKvsAUS_ODI/_175.yml
./datasets/PKvsAUS_ODI/_174.yml
./datasets/PKvsAUS_ODI/_101.yml
./datasets/PKvsAUS_ODI/_114.yml
./datasets/PKvsAUS_ODI/_102.yml
./datasets/PKvsAUS_ODI/_11.yml
./datasets/PKvsAUS_ODI/_117.yml
./datasets/PKvsAUS_ODI/_133.yml
./datasets/PKvsAUS_ODI/_247.yml
./datasets/PKvsAUS_ODI/_242.yml
./datasets/PKvsAUS_ODI/_121.yml
./datasets/PKvsAUS_ODI/_137.yml
./datasets/PKvsAUS_ODI/_241.yml
./datasets/PKvsAUS_ODI/_179.yml
./datasets/PKvsAUS_ODI/_144.yml
./datasets/PKvsAUS_ODI/_218.yml
./datasets/PKvsAUS_ODI/_69.yml
./datasets/PKvsAUS_ODI/_225.yml
./datasets/PKvsAUS_ODI/_153.yml
./datasets/PKvsAUS_ODI/_143.yml
./datasets/PKvsAUS_ODI/_92.yml
./datasets/PKvsAUS_ODI/_181.yml
./datasets/PKvsAUS_ODI/_142.yml
./datasets/PKvsAUS_ODI/_168.yml
./datasets/PKvsAUS_ODI/_140.yml
./datasets/PKvsAUS_ODI/_197.yml
./datasets/PKvsAUS_ODI/_222.yml
./datasets/PKvsAUS_ODI/_52.yml
./datasets/PKvsIND_ODI/_213.yml
./datasets/PKvsIND_ODI/_403.yml
./datasets/PKvsIND_ODI/_75.yml
./datasets/PKvsIND_ODI/_364.yml
./datasets/PKvsIND_ODI/_214.yml
./datasets/PKvsIND_ODI/_70.yml
./datasets/PKvsIND_ODI/_73.yml
./datasets/PKvsIND_ODI/_389.yml
./datasets/PKvsIND_ODI/_305.yml
./datasets/PKvsIND_ODI/_14.yml
./datasets/PKvsIND_ODI/_529.yml
./datasets/PKvsIND_ODI/_471.yml
./datasets/PKvsIND_ODI/_263.yml
./datasets/PKvsIND_ODI/_128.yml
./datasets/PKvsIND_ODI/_126.yml
./datasets/PKvsIND_ODI/_536.yml
./datasets/PKvsIND_ODI/_278.yml
./datasets/PKvsIND_ODI/_494.yml
./datasets/PKvsIND_ODI/_253.yml
./datasets/PKvsIND_ODI/_285.yml
./datasets/PKvsIND_ODI/_179.yml
./datasets/PKvsIND_ODI/_227.yml
./datasets/PKvsIND_ODI/_56.yml
./datasets/PKvsIND_ODI/_636.yml
./datasets/PKvsIND_ODI/_150.yml
./datasets/PKvsIND_ODI/_622.yml
./datasets/PKvsIND_ODI/_225.yml
./datasets/PKvsIND_ODI/_143.yml
./datasets/PKvsIND_ODI/_51.yml
./datasets/PKvsIND_ODI/_220.yml
./datasets/PKvsIND_ODI/_546.yml
./datasets/PKvsIND_ODI/_342.yml
./datasets/PKvsIND_ODI/_578.yml
./datasets/PKvsAUS_T20/_170.yml
./datasets/PKvsAUS_T20/_158.yml
./datasets/PKvsAUS_T20/_207.yml
./datasets/PKvsAUS_T20/_165.yml
./datasets/PKvsAUS_T20/_172.yml
./datasets/PKvsAUS_T20/_228.yml
./datasets/PKvsAUS_T20/_214.yml
./datasets/PKvsAUS_T20/_28.yml
./datasets/PKvsAUS_T20/_273.yml
./datasets/PKvsAUS_T20/_105.yml
./datasets/PKvsAUS_T20/_101.yml
./datasets/PKvsAUS_T20/_7.yml
./datasets/PKvsAUS_T20/_116.yml
./datasets/PKvsAUS_T20/_38.yml
./datasets/PKvsAUS_T20/_275.yml
./datasets/PKvsAUS_T20/_293.yml
./datasets/PKvsAUS_T20/_20.yml
./datasets/PKvsAUS_T20/_130.yml
./datasets/PKvsAUS_T20/_295.yml
./datasets/PKvsAUS_T20/_121.yml
./datasets/PKvsAUS_T20/_31.yml
./datasets/PKvsAUS_T20/_25.yml
./datasets/PKvsAUS_T20/_179.yml
./datasets/PKvsAUS_T20/_227.yml
./datasets/PKvsAUS_T20/_94.yml
./datasets/PKvsAUS_T20/_178.yml
./datasets/PKvsAUS_T20/_146.yml
./datasets/PKvsAUS_T20/_153.yml
./datasets/PKvsAUS_T20/_194.yml
./datasets/PKvsAUS_T20/_209.yml
./datasets/PKvsAUS_T20/_79.yml
./datasets/PKvsAUS_T20/_142.yml
./datasets/PKvsAUS_T20/_169.yml

./datasets/PKvsZMB_T20/_88.yml
./datasets/PKvsZMB_T20/_72.yml
./datasets/PKvsZMB_T20/_113.yml
./datasets/PKvsZMB_T20/_2.yml
./datasets/PKvsZMB_T20/_14.yml
./datasets/PKvsZMB_T20/_115.yml
./datasets/PKvsZMB_T20/_21.yml
./datasets/PKvsZMB_T20/_120.yml
./datasets/PKvsZMB_T20/_142.yml
./datasets/PKvsZMB_T20/_156.yml
./datasets/PKvsIND_T20/_164.yml
./datasets/PKvsIND_T20/_98.yml
./datasets/PKvsIND_T20/_489.yml
./datasets/PKvsIND_T20/_462.yml
./datasets/PKvsIND_T20/_529.yml
./datasets/PKvsIND_T20/_129.yml
./datasets/PKvsIND_T20/_302.yml
./datasets/PKvsIND_T20/_455.yml
./datasets/PKvsIND_T20/_521.yml
./datasets/PKvsIND_T20/_120.yml
./datasets/PKvsIND_T20/_335.yml
./datasets/PKvsIND_T20/_150.yml
./datasets/PKvsIND_T20/_68.yml
./datasets/PKvsIND_T20/_625.yml
./datasets/PKvsIND_T20/_51.yml
./datasets/PKvsIND_T20/_627.yml

In [127]:
score_b

127

In [128]:
f= open('./csv/PKvsIND_ODI.csv','w+')
w = csv.DictWriter(f, ['id','city','month','match_type','team_a','team_b','toss_won','toss_decision','venue','score_a','score_b','winner'])
w.writeheader()
for obj in outcome_of_matches:
    w.writerow(obj)
f.close()

## model

In [129]:
data = pd.read_csv('./csv/PKvsIND_ODI.csv')
data.head()

,id,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,score_a,score_b,winner
0,1,NaN,October,ODI,Pakistan,West Indies,Pakistan,bat,Sharjah Cricket Stadium,337,278,Pakistan
1,2,London,June,ODI,Pakistan,West Indies,West Indies,field,Kennington Oval,170,172,West Indies
2,3,Abu Dhabi,November,ODI,Pakistan,West Indies,Pakistan,bat,Sheikh Zayed Stadium,232,208,Pakistan
3,4,Christchurch,February,ODI,Pakistan,West Indies,Pakistan,field,Hagley Oval,160,310,West Indies
4,5,St Lucia,April,ODI,West Indies,Pakistan,Pakistan,field,"Beausejour Stadium, Gros Islet",220,223,Pakistan

In [130]:
data=data.iloc[:,[1,2,3,4,5,6,7,8,11]]
data.head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,NaN,October,ODI,Pakistan,West Indies,Pakistan,bat,Sharjah Cricket Stadium,Pakistan
1,London,June,ODI,Pakistan,West Indies,West Indies,field,Kennington Oval,West Indies
2,Abu Dhabi,November,ODI,Pakistan,West Indies,Pakistan,bat,Sheikh Zayed Stadium,Pakistan
3,Christchurch,February,ODI,Pakistan,West Indies,Pakistan,field,Hagley Oval,West Indies
4,St Lucia,April,ODI,West Indies,Pakistan,Pakistan,field,"Beausejour Stadium, Gros Islet",Pakistan

In [131]:
encoder_dict = defaultdict(LabelEncoder)
label_data = data.apply(lambda x: encoder_dict[x.name].fit_transform(x))
label_data.head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,0,10,0,8,10,8,0,82,6
1,53,6,0,8,10,12,1,37,9
2,1,9,0,8,10,8,0,83,6
3,22,3,0,8,10,8,1,31,9
4,71,0,0,12,6,8,1,7,6

In [132]:
encoder_dict

defaultdict(sklearn.preprocessing.label.LabelEncoder,
            {'city': LabelEncoder(),
             'match_type': LabelEncoder(),
             'month': LabelEncoder(),
             'team_a': LabelEncoder(),
             'team_b': LabelEncoder(),
             'toss_decision': LabelEncoder(),
             'toss_won': LabelEncoder(),
             'venue': LabelEncoder(),
             'winner': LabelEncoder()})

In [133]:
label_data.iloc[[1,2]]

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
1,53,6,0,8,10,12,1,37,9
2,1,9,0,8,10,8,0,83,6

In [134]:
label_data.apply(lambda x: encoder_dict[x.name].inverse_transform(x)).head()

,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,winner
0,NaN,October,ODI,Pakistan,West Indies,Pakistan,bat,Sharjah Cricket Stadium,Pakistan
1,London,June,ODI,Pakistan,West Indies,West Indies,field,Kennington Oval,West Indies
2,Abu Dhabi,November,ODI,Pakistan,West Indies,Pakistan,bat,Sheikh Zayed Stadium,Pakistan
3,Christchurch,February,ODI,Pakistan,West Indies,Pakistan,field,Hagley Oval,West Indies
4,St Lucia,April,ODI,West Indies,Pakistan,Pakistan,field,"Beausejour Stadium, Gros Islet",Pakistan

In [135]:
output = label_data.pop('winner')

In [136]:
x_train, x_test, y_train, y_test = train_test_split(label_data,output,test_size=0.2)

In [137]:
from sklearn.tree import DecisionTreeClassifier

dc_scores = []
dc_model = DecisionTreeClassifier()
folds = KFold(n_splits=10, random_state=42, shuffle=False)
for train_index, test_index in folds.split(label_data):
    xf_train, xf_test, yf_train, yf_test = label_data.iloc[train_index], label_data.iloc[test_index], output.iloc[train_index], output.iloc[test_index]
    dc_model.fit(xf_train, yf_train)
    dc_scores.append(dc_model.score(xf_test, yf_test))


print dc_scores

[0.4909090909090909, 0.5454545454545454, 0.6666666666666666, 0.6296296296296297, 0.37037037037037035, 0.4444444444444444, 0.6481481481481481, 0.7037037037037037, 0.5740740740740741, 0.48148148148148145]

In [138]:
np.mean(dc_scores)

0.5554882154882155

In [139]:
from sklearn.svm import SVC
svm_model = SVC()

svm_model.fit(x_train,y_train)

y_head_svm = svm_model.predict(x_test)

svm_score = svm_model.score(x_test,y_test)

In [140]:
svm_score

0.5779816513761468

In [141]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()

lr_model.fit(x_train,y_train)

y_head_lr = lr_model.predict(x_test)

lr_score = lr_model.score(x_test,y_test)

In [142]:
lr_score

0.45871559633027525

In [143]:
from sklearn.naive_bayes import GaussianNB
nb_model = GaussianNB()

nb_model.fit(x_train,y_train)

y_head_nb = nb_model.predict(x_test)

nb_score = nb_model.score(x_test,y_test)

In [144]:
nb_score

0.5504587155963303

In [145]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

knn_model.fit(x_train,y_train)

y_head_knn = knn_model.predict(x_test)

knn_score = knn_model.score(x_test,y_test)

In [146]:
knn_score

0.5045871559633027

In [147]:
nb_scores = []
nb_model = GaussianNB()
folds = KFold(n_splits=5, random_state=42, shuffle=False)
for train_index, test_index in folds.split(label_data):
    xf_train, xf_test, yf_train, yf_test = label_data.iloc[train_index], label_data.iloc[test_index], output.iloc[train_index], output.iloc[test_index]
    nb_model.fit(xf_train, yf_train)
    nb_scores.append(nb_model.score(xf_test, yf_test))


print np.mean(nb_scores)

0.3894155623513421

In [148]:
val = pd.DataFrame({
        'city': 'Karachi',
        'month': 'January',
        'match_type': 'ODI',
        'team_a': 'Pakistan',
        'team_b': 'India',
        'toss_won': 'Pakistan',
        'toss_decision': 'bat',
        'venue': 'National Stadium',
    }, columns=['city', 'month','match_type','team_a','team_b','toss_won','toss_decision',  'venue'], index=[0])
label_val = val.apply(lambda x: encoder_dict[x.name].transform(x))
pred = nb_model.predict(label_val)
encoder_dict['winner'].inverse_transform(pred)

array(['draw'], dtype=object)

# FR : Player wise detections

## yaml to csv

In [149]:
file = open('./datasets/PKvsIND_ODI/_14.yml')

In [150]:
b = yaml.safe_load(file)

In [151]:
type ('2010-01-10')==str

True

In [152]:
print b['innings'][0]['1st innings']['team'][0:5]

India

In [153]:
import copy
directory = './datasets/PKvsIND_ODI/'
played_balls = []
id=0
for i,f in enumerate(os.listdir(directory)):
    print(f)
    load = yaml.safe_load(open(directory+f))
    data= load['info']
    obj={
        'id': id,
        'city': data.get('city'),
        'month': ( datetime.strptime(data.get('dates')[0], "%Y-%m-%d") if type(data.get('dates')[0]) == str else data.get('dates')[0]).strftime("%B"),
        'match_type': data['match_type'],
        'venue': data['venue'],
        'batsman':'',
        'bowler':'',
        'over_no':'',
        'ball_no':'',
        'wicket_out':'',
        'score':'',
        'position':'',
        'team':''
        
    }
    for innings in load['innings']:
       
        first=innings[list(innings.keys())[0]]
        obj['team'] = first['team']
        first = first['deliveries'][0][0.1]
        p=3
        positions = {first['batsman']:1,first['non_striker']:2}
        for d in innings[list(innings.keys())[0]]['deliveries']:
            ball = str(list(d.keys())[0])
            over_ball=ball.split('.')
            obj['over_no']=over_ball[0]
            id+=1
            obj['wicket_out']=False
            obj['id']=id
            obj['ball_no']=over_ball[1]
            obj['bowler']=d[float(ball)]['bowler']
            obj['batsman']=d[float(ball)]['batsman']
            if obj['batsman'] in positions:
                obj['position']=positions[obj['batsman']]
            else:
                obj['position']=p
                positions[obj['batsman']]=p
                p+=1
                
            obj['score']=d[float(ball)]['runs']['total']
            if 'wicket' in d[float(ball)]:
                if obj['score']==0:
                    if obj['batsman']==d[float(ball)]['wicket']['player_out']:
                        obj['wicket_out']=True
                    else:
                        obj['wicket_out']=False
                        played_balls.append(obj)
                        obj['batsman']=d[float(ball)]['wicket']['player_out']
                        obj['score']=0

            else:
                d[float(ball)]['wicket_out'] = False
            played_balls.append(copy.deepcopy(obj))

_213.yml
_403.yml
_75.yml
_364.yml
_214.yml
_70.yml
_73.yml
_389.yml
_305.yml
_14.yml
_529.yml
_471.yml
_263.yml
_128.yml
_126.yml
_536.yml
_278.yml
_494.yml
_253.yml
_285.yml
_179.yml
_227.yml
_56.yml
_636.yml
_150.yml
_622.yml
_225.yml
_143.yml
_51.yml
_220.yml
_546.yml
_342.yml
_578.yml

In [154]:
f= open('./csv/PKvsIND_ODI_players.csv','w+')
w = csv.DictWriter(f, ['id','city','month','match_type','team','batsman','position','bowler','over_no','ball_no','venue','wicket_out','score'])
w.writeheader()
for obj in played_balls:
    w.writerow(obj)
f.close()

In [155]:
data = pd.read_csv('./csv/PKvsIND_ODI_players.csv')
data.head()

,id,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue,wicket_out,score
0,1,NaN,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,1,Rawalpindi Cricket Stadium,False,0
1,2,NaN,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,2,Rawalpindi Cricket Stadium,True,0
2,3,NaN,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,3,Rawalpindi Cricket Stadium,False,0
3,4,NaN,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,4,Rawalpindi Cricket Stadium,False,0
4,5,NaN,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,5,Rawalpindi Cricket Stadium,False,0

In [156]:
del data['id']

In [157]:
len(data)

18607

In [158]:
data = data.replace(np.nan, '', regex=True)
data.head()

,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue,wicket_out,score
0,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,1,Rawalpindi Cricket Stadium,False,0
1,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,2,Rawalpindi Cricket Stadium,True,0
2,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,3,Rawalpindi Cricket Stadium,False,0
3,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,4,Rawalpindi Cricket Stadium,False,0
4,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,5,Rawalpindi Cricket Stadium,False,0

In [159]:
encoder_dict = defaultdict(LabelEncoder)
label_data = data.apply(lambda x: encoder_dict[x.name].fit_transform(x))
label_data.apply(lambda x: encoder_dict[x.name].inverse_transform(x)).head()

,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue,wicket_out,score
0,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,1,Rawalpindi Cricket Stadium,False,0
1,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,2,Rawalpindi Cricket Stadium,True,0
2,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,3,Rawalpindi Cricket Stadium,False,0
3,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,4,Rawalpindi Cricket Stadium,False,0
4,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,5,Rawalpindi Cricket Stadium,False,0

In [160]:
X=label_data.iloc[:,0:10]
Y=label_data.iloc[:,10]
X.head()

,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue
0,0,2,0,1,92,0,25,0,0,19
1,0,2,0,1,92,0,25,0,1,19
2,0,2,0,1,99,2,25,0,2,19
3,0,2,0,1,99,2,25,0,3,19
4,0,2,0,1,99,2,25,0,4,19

In [161]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [162]:
from sklearn.svm import SVC
svm_model = SVC()

svm_model.fit(x_train,y_train)

y_head_svm = svm_model.predict(x_test)

svm_score = svm_model.score(x_test,y_test)

In [163]:
svm_score

0.9755507791509941

In [164]:
nb_scores = []
nb_model = GaussianNB()
folds = KFold(n_splits=10, random_state=42, shuffle=False)
for train_index, test_index in folds.split(X):
    xf_train, xf_test, yf_train, yf_test = X.iloc[train_index], X.iloc[test_index], Y.iloc[train_index], Y.iloc[test_index]
    nb_model.fit(xf_train, yf_train)
    nb_scores.append(nb_model.score(xf_test, yf_test))


print np.mean(nb_scores)

0.9760300855708284

In [165]:

input_d = pd.DataFrame({
        'city': '',
        'month': 'February',
        'match_type': 'ODI',
        'team':'Pakistan',
        'batsman':'Salman Butt',
        'position':1,
        'bowler':'IK Pathan',
        'over_no':0,
        'ball_no':2,
        'venue': 'Rawalpindi Cricket Stadium'
        
    }, columns=['city', 'month','match_type','team','batsman','position', 'bowler', 'over_no', 'ball_no',  'venue'],index=[0])
l_input_d=input_d.apply(lambda x: encoder_dict[x.name].transform(x))
encoder_dict['wicket_out'].inverse_transform(svm_model.predict(l_input_d))

array([False])

# Score of a player against bowler

In [166]:
data.head()

,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue,wicket_out,score
0,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,1,Rawalpindi Cricket Stadium,False,0
1,,February,ODI,Pakistan,Salman Butt,1,IK Pathan,0,2,Rawalpindi Cricket Stadium,True,0
2,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,3,Rawalpindi Cricket Stadium,False,0
3,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,4,Rawalpindi Cricket Stadium,False,0
4,,February,ODI,Pakistan,Shoaib Malik,3,IK Pathan,0,5,Rawalpindi Cricket Stadium,False,0

In [167]:
encoder_dict = defaultdict(LabelEncoder)
label_data = data.apply(lambda x: encoder_dict[x.name].fit_transform(x))

In [168]:
X=label_data.iloc[:,[0,1,2,3,4,5,6,7,8,9]]
Y=label_data.iloc[:,[11]]

In [169]:
X.head()

,city,month,match_type,team,batsman,position,bowler,over_no,ball_no,venue
0,0,2,0,1,92,0,25,0,0,19
1,0,2,0,1,92,0,25,0,1,19
2,0,2,0,1,99,2,25,0,2,19
3,0,2,0,1,99,2,25,0,3,19
4,0,2,0,1,99,2,25,0,4,19

In [170]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [171]:
from sklearn.svm import SVC
svm_model = SVC()

svm_model.fit(x_train,y_train)

y_head_svm = svm_model.predict(x_test)

svm_score = svm_model.score(x_test,y_test)
svm_score

0.4948952176249328

In [172]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

knn_model.fit(x_train,y_train)

y_head_knn = knn_model.predict(x_test)

knn_score = knn_model.score(x_test,y_test)
knn_score

/Users/sheikh/Library/Python/2.7/lib/python/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

0.5008060182697475

In [173]:
nb_scores = []
nb_model = GaussianNB()
folds = KFold(n_splits=10, random_state=42, shuffle=False)
for train_index, test_index in folds.split(X):
    xf_train, xf_test, yf_train, yf_test = X.iloc[train_index], X.iloc[test_index], Y.iloc[train_index], Y.iloc[test_index]
    nb_model.fit(xf_train, yf_train)
    nb_scores.append(nb_model.score(xf_test, yf_test))


np.mean(nb_scores)

0.5198054289230556

In [174]:
from sklearn.naive_bayes import GaussianNB
nb_model = GaussianNB()

nb_model.fit(x_train,y_train)

y_head_nb = nb_model.predict(x_test)

nb_score = nb_model.score(x_test,y_test)
nb_score

0.5274046211714132

In [175]:
input_d = pd.DataFrame({
        'city': '',
        'month': 'February',
        'match_type': 'ODI',
        'team':'Pakistan',
        'batsman':'Salman Butt',
        'position':1,
        'bowler':'IK Pathan',
        'over_no':10,
        'ball_no':2,
        'venue': 'Rawalpindi Cricket Stadium'
        
    }, columns=['city', 'month','match_type','team','batsman','position', 'bowler', 'over_no', 'ball_no',  'venue'],index=[0])
l_input_d=input_d.apply(lambda x: encoder_dict[x.name].transform(x))
encoder_dict['score'].inverse_transform(svm_model.predict(l_input_d))

array([0])

# FR detect score brakcet for each team

In [322]:
data = pd.read_csv('./csv/PKvsIND_ODI.csv').fillna('')
data.head()

,id,city,month,match_type,team_a,team_b,toss_won,toss_decision,venue,score_a,score_b,winner
0,1,,October,ODI,Pakistan,West Indies,Pakistan,bat,Sharjah Cricket Stadium,337,278,Pakistan
1,2,London,June,ODI,Pakistan,West Indies,West Indies,field,Kennington Oval,170,172,West Indies
2,3,Abu Dhabi,November,ODI,Pakistan,West Indies,Pakistan,bat,Sheikh Zayed Stadium,232,208,Pakistan
3,4,Christchurch,February,ODI,Pakistan,West Indies,Pakistan,field,Hagley Oval,160,310,West Indies
4,5,St Lucia,April,ODI,West Indies,Pakistan,Pakistan,field,"Beausejour Stadium, Gros Islet",220,223,Pakistan

In [324]:
label_data = data.iloc[:,[1,2,3,4,5,6]]
encoder_dict = defaultdict(LabelEncoder)
X = label_data.apply(lambda x: encoder_dict[x.name].fit_transform(x))
Y_a=data.iloc[:,9]
Y_b=data.iloc[:,10]

x_train_a, x_test_a, y_train_a, y_test_a = train_test_split(X,Y_a,test_size=0.2)

In [325]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train_a, y_train_a)
y_head_LR = LR.predict(x_test_a)
LRscore = LR.score(x_test_a,y_test_a)

In [326]:
LRscore

0.3615847270861712

In [327]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier()

knn_model.fit(x_train_a,y_train_a)

y_head_knn = knn_model.predict(x_test_a)

knn_score = knn_model.score(x_test_a,y_test_a)

In [328]:
y_head_knn

array([136,  91, 132, 131,  98,  99, 132, 127, 135,  65, 102, 129,  98,
        98, 132,  90, 103, 148, 103, 120,  91, 100, 124, 100,  99, 115,
       135, 116, 131, 181, 175, 164,  95, 161, 144, 124,  95,  89, 104,
       112, 108,  65, 105,  95,  70, 112, 138, 112, 146, 118,  72, 112,
       146,  72, 112, 123, 131, 206, 127, 135, 116, 112, 144, 132, 182,
       151, 135, 112, 129, 116,  82, 123, 131, 127, 102, 118, 113, 188,
       112, 130, 123, 129, 146, 105,  99,  65, 131, 111, 150,  89, 185,
        98,  85, 130, 132,  63, 138, 135, 148, 119, 138, 105, 187, 115,
       108,  82, 112, 135, 127])

In [329]:
X.head()

   city  month  match_type  team_a  team_b  toss_won
0     0     10           0       8      10         8
1    53      6           0       8      10        12
2     1      9           0       8      10         8
3    22      3           0       8      10         8
4    71      0           0      12       6         8

In [339]:
input_d = pd.DataFrame({
        'city': '',
        'month': 'February',
        'match_type': 'ODI',
        'team_a':'Pakistan',
        'team_b':'India',
        'toss_won': 'India'
        
    }, columns=['city', 'month','match_type','team_a','team_b', 'toss_won'],index=[0])
input_d

  city     month match_type    team_a team_b toss_won
0       February        ODI  Pakistan  India    India

In [340]:
l_input_d=input_d.apply(lambda x: encoder_dict[x.name].transform(x))

In [341]:
LR.predict(l_input_d)

array([226.87311204])

# FR: Runrate prediction

In [42]:
directory = './datasets/'
outcome_of_matches = []
id=0
for dir in os.listdir(directory):
    if dir==".DS_Store":
        continue
    curr_dir = directory+dir+"/"
    for j,f in enumerate(os.listdir(curr_dir)):
        data = yaml.safe_load(open(curr_dir+f))
        obj={
            'id':0,
            'batting_team':data['innings'][0]['1st innings']['team'],
            'bowling_team':data['info']['teams'][0] if data['info']['teams'][1] ==data['innings'][0]['1st innings']['team'] else data['info']['teams'][1],
            'run_rate':0,
            'match_type':data['info']['match_type']
        }
        for innings in data['innings']:
            runs=0
            obj['batting_team']=innings[list(innings.keys())[0]]['team']
            obj['bowling_team']=data['info']['teams'][0] if data['info']['teams'][1] ==innings[list(innings.keys())[0]]['team'] else data['info']['teams'][1]
            over=0
            for d in innings[list(innings.keys())[0]]['deliveries']:
    #             if str(obj['over_no']) == str(d.keys()[0]).split(".")[0]:
    #                 runs+=d[list(d.keys())[0]]['runs']['total']

    #             else:
    #                 obj['run_rate']=runs/6
    #                 outcome_of_matches.append(copy.deepcopy(obj))
    #                 runs=d[list(d.keys())[0]]['runs']['total']
    #                 obj['over_no'] = int(str(d.keys()[0]).split(".")[0])
                runs+=d[list(d.keys())[0]]['runs']['total']
                over=int(str(d.keys()[0]).split(".")[0])
            obj['run_rate']=runs/(over+1)
            id+=1
            obj['id']=id
            outcome_of_matches.append(copy.deepcopy(obj))

In [44]:
f= open('./csv/runrates.csv','w+')
w = csv.DictWriter(f, ['id','match_type','batting_team','bowling_team','run_rate'])
w.writeheader()
for obj in outcome_of_matches:
    w.writerow(obj)
f.close()

In [45]:
data = pd.read_csv('./csv/runrates.csv').fillna('')
data.head()

   id match_type batting_team bowling_team  run_rate
0   1        ODI     Pakistan  West Indies         6
1   2        ODI  West Indies     Pakistan         5
2   3        ODI     Pakistan  West Indies         3
3   4        ODI  West Indies     Pakistan         4
4   5        ODI     Pakistan  West Indies         4

In [47]:
label_data = data.iloc[:,[1,2,3]]
encoder_dict = defaultdict(LabelEncoder)
X = label_data.apply(lambda x: encoder_dict[x.name].fit_transform(x))
Y=data.iloc[:,4]

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [48]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
LR.fit(x_train, y_train)
y_head_LR = LR.predict(x_test)
LRscore = LR.score(x_test,y_test)

In [51]:
LRscore

0.24899993077202257